@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.light {
  --account-bg: 226, 232, 240;
  --text-color: 0, 0, 0;
  --icon-color: 0, 0, 0;
}

.dark {
  --account-bg: 100, 116, 139;
  --text-color: 255, 255, 255;
  --icon-color: 255, 255, 255;
  background: rgb(24, 23, 23);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  font-size: 62.5%;
}

.confirm-button-class {
  background: linear-gradient(180deg, #44bbfe 0%, #1e78fe 100%) !important;
}

.cancel-button-class {
  background: linear-gradient(180deg, rgb(224, 94, 94) 0%, #d33 100%) !important;
}

.sweet-button {
  border: none !important;
  border-radius: 10px !important;
  font-size: 1.25rem !important;
}
